ol {background-color: rgb(238, 190, 190);
    padding: 20px 0px 20px 20px;
    list-style-position: inside;
    font-family: Arial;
    color: aliceblue;
}
li {background-color: rgb(236, 159, 159);
padding: 10px 0px 10px 10px;
}
.red {background-color: brown;}