ol li.red {
    color: red;
}

ol {
 list-style-type:decimal;
 list-style-position: outside;   
}

ol.element {list-style-type: none;
counter-reset: number;}

ol.element li::before {
    content: counter(number) '@';
    counter-increment: number;
}

img.image {
    border: 10px green solid;
    border-end-end-radius: 30px;
}