html {
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.one {
    background: green;
    display: flex;
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: center;
}

.blue{
    background: blue;
}